<a href="https://colab.research.google.com/github/katapi-zura/Prog2kakushin/blob/main/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

第１２回では、pandasライブラリを用いて、厚生労働省hpで公開されている新型コロナウイルスに関するcsvファイルを用いてデータ分析を行う。

In [13]:
#まずgoogledriveからファイルを取得する。
!wget "https://drive.google.com/uc?export=download&id=1wGL9g7wILtqS-IYvdH1VljD0zMm3HoT2" -O newly_confirmed_cases_daily.csv

!wget "https://drive.google.com/uc?export=download&id=1Tgwy6GF-UHzuaylwhbWE-ovpqd1P5eZ9" -O pcr_tested_daily.csv

--2022-12-22 07:37:22--  https://drive.google.com/uc?export=download&id=1wGL9g7wILtqS-IYvdH1VljD0zMm3HoT2
Resolving drive.google.com (drive.google.com)... 142.251.6.113, 142.251.6.138, 142.251.6.102, ...
Connecting to drive.google.com (drive.google.com)|142.251.6.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-08-8o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/mm64vs2pbbmhc5fgc8tmm3kj8mqrm0es/1671694575000/07165664442115170215/*/1wGL9g7wILtqS-IYvdH1VljD0zMm3HoT2?e=download&uuid=9a145ee4-1ee1-41f0-8183-ea84c8f2196b [following]
Warning: wildcards not supported in HTTP.
--2022-12-22 07:37:22--  https://doc-08-8o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/mm64vs2pbbmhc5fgc8tmm3kj8mqrm0es/1671694575000/07165664442115170215/*/1wGL9g7wILtqS-IYvdH1VljD0zMm3HoT2?e=download&uuid=9a145ee4-1ee1-41f0-8183-ea84c8f2196b
Resolving doc-08-8o-docs.googleusercontent.com (doc-08-8o-docs.googleusercontent.com)... 173.194.196.132, 2607:f8b0:4001:c1a::84
Connecting to doc-08-8o-docs.googleusercontent.com (doc-08-8o-docs.googleusercontent.com)|173.194.196.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 172686 (169K) [text/csv]
Saving to: ‘newly_confirmed_cases_daily.csv’

newly_confirmed_cas 100%[===================>] 168.64K  --.-KB/s    in 0.002s

2022-12-22 07:37:23 (69.7 MB/s) - ‘newly_confirmed_cases_daily.csv’ saved [172686/172686]

--2022-12-22 07:37:23--  https://drive.google.com/uc?export=download&id=1Tgwy6GF-UHzuaylwhbWE-ovpqd1P5eZ9
Resolving drive.google.com (drive.google.com)... 142.251.6.113, 142.251.6.138, 142.251.6.102, ...
Connecting to drive.google.com (drive.google.com)|142.251.6.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-8o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/647r3jqus76ebddvvr9d3cvmgniullaj/1671694575000/07165664442115170215/*/1Tgwy6GF-UHzuaylwhbWE-ovpqd1P5eZ9?e=download&uuid=dda0f8ea-c560-430a-8c22-56fe1b24610a [following]
Warning: wildcards not supported in HTTP.
--2022-12-22 07:37:24--  https://doc-0c-8o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/647r3jqus76ebddvvr9d3cvmgniullaj/1671694575000/07165664442115170215/*/1Tgwy6GF-UHzuaylwhbWE-ovpqd1P5eZ9?e=download&uuid=dda0f8ea-c560-430a-8c22-56fe1b24610a
Resolving doc-0c-8o-docs.googleusercontent.com (doc-0c-8o-docs.googleusercontent.com)... 173.194.196.132, 2607:f8b0:4001:c1a::84
Connecting to doc-0c-8o-docs.googleusercontent.com (doc-0c-8o-docs.googleusercontent.com)|173.194.196.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17887 (17K) [text/csv]
Saving to: ‘pcr_tested_daily.csv’

pcr_tested_daily.cs 100%[===================>]  17.47K  --.-KB/s    in 0s

2022-12-22 07:37:24 (68.5 MB/s) - ‘pcr_tested_daily.csv’ saved [17887/17887]

In [14]:
#次にそれぞれのcsvファイルをデータフレームに読み込む。(2022/12/22時点のデータ)
import pandas as pd
df=pd.read_csv("newly_confirmed_cases_daily.csv",encoding="utf-8")

df2=pd.read_csv("pcr_tested_daily.csv",encoding="utf-8")

In [15]:
#まず、新規陽性者数の全国合計を降順に並び替える。
df_sort = df.sort_values("ALL", ascending=False)
df_sort
#これにより、2022年の8月に最も感染が拡大していたことがわかる。

,Date,ALL,Hokkaido,Aomori,Iwate,Miyagi,Akita,Yamagata,Fukushima,Ibaraki,...,Ehime,Kochi,Fukuoka,Saga,Nagasaki,Kumamoto,Oita,Miyazaki,Kagoshima,Okinawa
946,2022/8/19,261004,8632,2372,1655,4567,1746,1978,3585,4804,...,3249,1804,15726,2446,4611,4263,2550,3310,4583,3756
945,2022/8/18,255508,8315,2043,1537,4042,1865,1948,3297,4090,...,3516,1834,13115,2517,4529,5684,2995,4114,4948,4511
947,2022/8/20,253248,7590,2342,1645,4784,1823,1999,3490,4829,...,3236,1738,14995,2566,3655,4254,2524,3026,4747,3941
937,2022/8/10,250377,7773,2060,1482,4199,1351,1387,2554,2963,...,2514,1445,12260,1988,3370,4370,2383,3303,3988,5063
930,2022/8/3,249805,6930,1342,1038,3471,1085,1120,2063,3984,...,1864,1021,12812,1781,2605,4414,2424,3126,3356,6180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,2020/1/31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2020/2/1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020/1/17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2020/2/3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2020/2/2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Warning: Total number of columns (49) exceeds max_columns (20) limiting to first (20) columns.

In [9]:
#次に、pcr検査実施人数を降順に並び替える。
df2_sort = df2.sort_values("PCR 検査実施人数(単日)", ascending=False)
df2_sort
#これにより、感染が拡大していた2022年8月には検査数も多かったことがわかる。
#一方、2022/4/26に検査数が最も多くなっているので、検査数が多い=感染者数が多いということではないということがわかる。

            日付  PCR 検査実施人数(単日)
811  2022/4/26       1329376.0
859  2022/6/13        943649.0
917  2022/8/10        509327.0
924  2022/8/17        481646.0
933  2022/8/26        440793.0
..         ...             ...
0     2020/2/5             4.0
965  2022/9/27             0.0
42   2020/3/18             NaN
48   2020/3/24             NaN
56    2020/4/1             NaN

[1051 rows x 2 columns]

In [41]:
#最後に、日付を入力するとその日の感染者数がわかるプログラムを作成する。
#ただし、入力する日付はcsvファイルに記録されている2020/1/16から2022/12/21の間とする。
date=input("年、月、日付を入力してください(例:2022/12/22):")
case=df["ALL"][df["Date"].str.contains(date)].iloc[-1]
print(f"{date}の新規感染者数は{case}人です")

年、月、日付を入力してください(例:2022/12/22):2022/12/21
2022/12/21の新規感染者数は206943人です